@keyframes jump {
    25%{
        transform: translateY(-1rem);
    }

    50%{
        transform: translateY(0);
        
    }

    100%{
        color: rgb(179, 99, 8);
        text-shadow: 0 0 30px rgb(32, 18, 1);
        filter: brightness(2);
    }
    
}

@keyframes light_off {
    100%{
        background-color: rgb(46, 46, 46);
    }
}

@keyframes glow_w {
    0%{
        text-shadow: 0 0 5px #fff;
    }
    
    50%{
        text-shadow: 0 0 30px #fff;
    }
    
    100%{
        text-shadow: 0 0 5px #fff;
    }
}